body {
  background-color: lightblue;
    font-size: 15pt;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar{
  width: 25%;
  border-radius: 50%;
}
button{
  text-align: center;
  color: white;
  background-color: blue;
  border: none;
  cursor: pointer;
  padding: 15px  20px;
  margin: 5px 0px;
  border-radius: 8%;
  width: 50%;
}
button:hover{
  opacity: 0.8;
}